body{
background: white;

}

.header{
  position: absolute;
  left:10px;
  background: #ffbb00;
  color: white;
  font-family: 'Asap', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  text-decoration: none;
  transition: border-radius .25s ease,
              transform .75s ease,
              background 5s ease;
}

.header:hover{
  position: absolute;
  left:10px;
  background: #ff4d00;
  color: white;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-decoration: none;
  transform: rotate(360deg);
}

.poem{
  position: absolute;
  display: flex;
  align-items: flex-start;
background: #ffbb00;

}
