body{
background: white;

}

.header{
  position: absolute;
  right:10px;
  background: #ffbb00;
  color: white;
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  text-decoration: none;
  transition: border-radius .5s ease,
              transform .5s ease;

}

.header:hover{
  position: absolute;
  right:10px;
  background: #ffbb00;
  color: white;
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-decoration: none;
  transform: rotate(120deg);
}
