html {
  background-image: linear-gradient(90deg, #211920, #03302d);
}

.header {
  position: absolute;
  right: 10px;
  background: #ffbb00;
  color: white;
  font-family: 'Asap', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-decoration: none;
  transition: border-radius .25s ease,
    transform .75s ease,
    background 2s ease;
}

.header:hover {
  position: absolute;
  right: 10px;
  background: #ff4d00;
  color: white;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
  text-decoration: none;
  transform: rotate(360deg);
}

.poem {
  text-decoration: none;
  color: white;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
}

.poemcontainer {
  position: absolute;
  right: 225px;
  margin: 10px;
  background: #22b81f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background 1s ease,
    border-radius .25s ease,
    transform .25s ease,
    flex-direction 5s ease;
}

.poemcontainer:hover {
  background: rgb(22, 98, 228);
  transform: rotate(-5deg);
  border-radius: 50px;
  flex-direction: column;
}

.exercises {
  position: absolute;
  right: 440px;
  margin: 10px;
  background: #c40661;
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  align-items: left;
  flex-direction: column;
  width: 180px;
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: rotate(90deg);
  transition: background 1s ease,
    border-radius .25s ease,
    transform .25s ease;
}

.exercises:hover{
background: rgb(105, 12, 177);
border-radius: 30% 50% 50% 30%;
transform: rotate(0deg);
}


.story{


}
