
.content{

  color: black;
  font-family: 'Merriweather', serif;
  line-height: 140%;
  letter-spacing: 180%;
  width: 600px;
  font-size: 16px;
  margin: 100px 100px 100px 100px;
  padding-left: 30px;
  background-color: magenta;
  border: 10px dotted #000000;
  transition: background 5s ease,
              width 10s,
              color 5s ease,
              border 5s ease,
              transform 1s ease,
              height 2s ease;

}

.content:hover{
border: 5px solid white;
color: grey;
font-family: 'Merriweather', serif;
font-weight: bold;
background-color: white;
width: 5000px;
height: 1000px;
transform: rotate(180deg);

}

.attribute{

  font-family: 'Abril Fatface', serif;
  font-size: 15px;
  line-height: 120%;
  position: fixed;
  color: white;
text-align: left;
text-transform: uppercase;
text-shadow: 5px 5px #cfcdab;
}

.attribute:hover{
  color: magenta;
  text-shadow: 5px 5px #000000;
text-decoration: line-through;

}
